.reviewList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewItem {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.image {
  width: 65px; /* iPhone 13 mini의 세로 길이의 8% */
  height: 65px; /* 정사각형 */
  margin-right: 10px; /* 오른쪽 여백 */
}

.info {
  margin-left: 20%; /* 왼쪽 여백 */
  margin-right: 10%; /* 오른쪽 여백 */
}

.name {
  font-size: 1.5em; /* 사진의 절반 크기 */
  font-weight: bold;
  margin-bottom: 5px;
}

.stars {
  display: flex;
  align-items: center;
}

.fullStar {
  color: orange;
}

.halfStar {
  color: orange;
  /* 반 별 모양을 표시하기 위한 CSS (실제 구현 필요) */
}

.emptyStar {
  color: gray;
}

.rating {
  margin-left: 5px;
  font-size: 0.75em;
}

.details button {
  background: none;
  border: none;
  color: blue;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/* 모바일 화면에서의 반응형 디자인 */
@media (max-width: 768px) {
  .info {
    margin-left: 10%; /* 왼쪽 여백 */
    margin-right: 5%; /* 오른쪽 여백 */
  }
}
