.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  
  .textContainer {
    text-align: center;
  }
  
  .separator {
    border-bottom: 1px solid #ddd;
    margin: 20px 0;
  }
  
  .heading {
    text-align: left;
    margin-bottom: 20px;
  }
  Input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .input {
    text-align: left;
  }
  
  #ReviewContent {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #d32323;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d32323;
  }

  .textarea {
    /* margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    
    
    min-width: 100%; /* Adjust the minimum height as needed */
    min-width: 310px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    min-height: 150px;
    border-radius: 5px;
    resize: vertical; 
  }
  
  
.uploadButtonStyle {
    margin : auto; 
    width: 330px; /* 화면 넓이 비율 */
    /* margin: 4px 0; */
    height: 40px; 
    background-color: #d32323; 
    color: white; 
    border: none;
    border-radius: 8px; 
    font-size: 16px; 
    font-weight: bold; 
    /* text-align: center; 
    line-height: center;  */
    cursor: pointer; 
    outline: none; 
    transition: background-color 0.3s; 
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 8px;
  };
  