/* Quit.module.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
  .quitTitle {
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .separator {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
  }
  
  .quitText {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .quitForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
  }
  
  .quitForm label {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .quitForm input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .warningTextarea {
    color: #d32323;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .passwordInput {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
  /* 추가적인 스타일링이 필요한 경우 여기에 작성하세요 */
  