.container {
  max-width: 375px;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.subtitle {
  text-align: center;
  color: #6b7280;
  margin-bottom: 1.5rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.backButton {
  margin-right: 10px;
  cursor: pointer;
}

.signUpForm {
  width: 100%;
}

.duplicateCheckForm {
  width: 420px;
}

.passwordContainer,
.termsContainer {
  width: 100%;
  margin-bottom: 10px;
}

.phoneInputContainer {
  display: flex;
  width: 80%;
  justify-content: space-between
}

.phoneInput {
  flex: 7; /* 비율 7로 설정 */
  margin-right: 10px; /* 버튼과의 여백 */
}

.viewButtonContainer {
  width: 20%;
  flex:3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* 열 방향으로 정렬 */
}

.duplicateCheckButton {
  width: 30%;
  height: 38px;
  background-color: #d32323; 
  color: white; 
  border: none; 
  border-radius: 8px; 
  font-size: 16px;
  font-weight: bold; 
  text-align: center;
  cursor: pointer; 
  outline: none; 
  float: right;
}

.passwordInput,
.nameInput,
.dateInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.genderSelect {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.genderButton,
.genderSelected {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  color: #d32323;
}

.genderSelected {
  background-color: #d32323;
  color: white;
}

.termsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 7px;
}

/* 스타일링된 체크박스 */
.termsContainer input[type="checkbox"],
.individualTerms input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  margin-right: 5px;
  vertical-align: middle;
  cursor: pointer;
}

/* 선택된 체크박스 스타일 */
.termsContainer input[type="checkbox"]:checked,
.individualTerms input[type="checkbox"]:checked {
  background-color: #d32323;
  /* Add a checkmark or similar style */
}

/* 버튼이 비활성화 되었을 때의 스타일 */
.inactive_button {
  background-color: #fed3d3;
  color: #fff;
  cursor: not-allowed;
}

.inputGroup {
  position: relative;
  margin-bottom: 1rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
}

.duplicateButton {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background-color: #d32323;
  color: white;
  border: none;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
}

checkboxContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.checkboxLabel {
  font-size: 0.875rem;
  color: #374151;
}

.signupButton {
  width: 100%;
  background-color: #d32323;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 0.375rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}