.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white; /* 배경색 설정 */
}

.card {
  margin: auto; /* 카드 중앙 정렬 */
  max-width: 400px; /* 최대 너비 설정 */
  width: 100%; /* 가로 너비 설정 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  border-radius: 8px; /* 둥근 모서리 */
  overflow: hidden; /* 내용이 넘칠 경우 숨김 처리 */
}

.cardHeader {
  padding: 20px;
  border-bottom: 1px solid #eee; /* 하단 경계선 */
}

.cardTitle {
  font-size: 1.5rem; /* 제목 폰트 크기 */
  font-weight: bold; /* 제목 굵기 */
  margin-bottom: 0.5rem; /* 제목 아래 마진 */
}

.cardDescription {
  color: #555; /* 설명 텍스트 색상 */
  margin-bottom: 1.5rem; /* 설명 아래 마진 */
}

.cardContent {
  padding: 20px;
}

.passwordInput {
  width: 100%; /* 입력창 너비 */
  padding: 10px;
  margin-bottom: 1rem; /* 입력창 아래 마진 */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  width: 100%; /* 버튼 너비 */
  padding: 10px;
  background-color: #D32323; /* 버튼 배경색 */
  color: white; /* 버튼 텍스트 색상 */
  border: none;
  border-radius: 4px; /* 버튼 둥근 모서리 */
  cursor: pointer; /* 마우스 오버 시 커서 변경 */
}

.button:hover {
  background-color: #B91C1C; /* 버튼 호버 색상 */
}
