.tableContainer {
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.storeAdress, .storeCity {
  color: #000;
  font-family: Inter;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 15px;
  max-width: 180px;
  word-wrap: break-word;
  text-align: left;
  margin-left: 9px;
}

.storeImage {
  height: 80px;
  width: 80px;
  margin-left: 13px;
  border-radius: 5px;
  background-color: #D32323; 
  border-radius: 5px; 
}

.storeInfo {
  display: flex;
  flex-direction: column;
}

.storeName {
  flex-grow: 1;
  text-align: left;
  padding-left: 10px;
  font-weight: bold;
  max-width: 200px;
  white-space: nowrap;
}

.storeItem {
  display: flex;
  align-items: center;
  text-align: center; /* Adjust as needed for text alignment */
  margin: 10px 0; /* Adjust as needed for spacing between items */
}

.emptyMessage {
  text-align: center;
  padding: 50px 20px;
  font-size: 1.2rem;
  color: #555;
  background: #f7f7f7;
  border: 1px dashed #ccc;
  border-radius: 4px;
  margin: 20px;
}
