/* 
뒤로가기 유무
로고
*/
body {
  padding-top: 50px; /* 상단 네비게이션 바의 높이만큼 여백 추가 */
}

.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 375px; /* 전체 너비 */
  height: 50px; /* 높이 */
  background-color: #fff; /* 배경색 하얀색 */
  position: fixed;
  top: 0;
  /* left: 0; */
  border-bottom: 1px solid #ccc; /* 사각형의 밑변에 선 */
  box-sizing: border-box;
  z-index: 1000;
  margin: 0 auto;
}

.backButton {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: #D32323;
  font-weight: 800;
  font-size: 18px;
}

.backButton:hover {
  color: #fff; 
}

.logoContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.logoImage {
  margin: auto;
  width: auto;
  height: 100%;
  max-height: 100%;
}

.dummy {
  padding: 18px; 
  opacity: 0;
}
