/* Ranking.module.css */
.activePage {
  background-color: #d32323;
  color: #fff;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.hallOfFameOption {
  margin-bottom: 20px; /* Add some margin to create space */
}

.pageNumber {
  background-color: #fff;
  border: none;
  color: #d32323;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.pageNumber:hover {
  background-color: #fff;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.rankBox {
  align-items: center;
  background-color: #eaeaea;
  border-radius: 5px;
  display: flex;
  height: 30px;
  justify-content: center;
  padding: 5px;
  width: 30px;
  margin-left: 9px;
}

.rankNumber {
  font-weight: bold;
}

.rankingContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3px;
  width: 100%;
}

.reviewItem {
  align-items: center;
  border: 1px solid #ddd;
  display: flex;
  margin-bottom: 10px;
  min-height: 8%;
  padding: 10px;
  width: 80%;
}

.selectedView {
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 30px;
  margin-right: 30px;
  text-decoration: underline;
}

.storeAdress {
  color: #000;
  font-family: Inter;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 15px;
  max-width: 180px;
  word-wrap: break-word;
  text-align: left;
  margin-left: 9px;
}

.storeImage {
  height: 80px;
  width: 80px;
  margin-left: 9px;
}

.storeInfo {
  display: flex;
  flex-direction: column;
}

.storeItem {
  align-items: center;
  display: flex;
  margin: 10px 0;
  text-align: center;
}

.storeName {
  flex-grow: 1;
  font-weight: bold;
  max-width: 200px;
  text-align: left;
  white-space: nowrap;
  margin-left: 9px;
}

.storeRating {
  color: #d32323;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  letter-spacing: 0.5px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1px;
  max-width: 180px;
  word-wrap: break-word;
  text-align: left;
  margin-left: 9px;
}

.tableContainer {
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.viewOptionsContainer {
  margin-bottom: 20px;
}