.container {
  max-width: 375px;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profileSection {
  padding: 24px;
  background-color: #D32323;
  text-align: center;
  color: white;
  flex-direction: column;
  align-items: center;
}

.profileImage {
  margin-top: 16px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.userName {
  margin-top: 8px;
  font-size: 32px;
  font-weight: bold;
}

.userPhone {
  margin-top: 1px;
  font-size: 18px;
  font-weight: medium;
}

.linksSection,
.linksSectionAlt {
  padding: 32px 16px;
}

.menuItem,
.menuItemAlt {
  display: block;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.menuItem:hover,
.menuItemAlt:hover {
  color: #D32323;
}

.linksSectionAlt {
  background-color: rgba(255, 255, 255, 0.5);
}

.menuItemAlt {
  color: #666;
}

.menuItemAlt:hover {
  color: #D32323;
}
