/* MyPage.module.css */
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.profileImage {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 100px;
  justify-content: center;
  overflow: hidden;
  width: 100px;
}

.profileImage img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.profileSection {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}

.separator {
  background-color: #ccc;
  height: 1px;
  margin: 10px 0;
  width: 100%;
  margin-bottom: 30px;
}

.userInfo {
  color: #d32323;
  margin-right: 20px;
}

.userInfo h2 {
  font-size: 1.8rem;
}

.userInfo p {
  font-size: 1rem;
}

/* Add these styles for Link customization */
.menuItem {
  align-items: center; /* 세로 가운데 정렬 추가 */
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* 가로 가운데 정렬 추가 */
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 13px;
  text-align: left;
  text-decoration: none;
  transition: color 0.3s;
}

.withdrawal,
.logout {
  align-items: center;
  color: #666;
  cursor: pointer;
  display: flex;
  font-size: 0.9rem;
  justify-content: center;
  text-align: center;
  transition: color 0.3s;
}

.withdrawal:hover,
.logout:hover {
  color: #d32323;
}

/* Optional: Add margin between the icon and text */
.withdrawal .rectangle16,
.logout .rectangle16 {
  margin-right: 5px;
}
