.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  
  .textContainer {
    text-align: center;
  }
  
  .separator {
    border-bottom: 1px solid #ddd;
    margin: 20px 0;
  }
  
  Input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  #ReviewContent {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #d32323;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d32323;
  }

  .textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 150px;
    min-width: 96.5%; /* Adjust the minimum height as needed */
    resize: vertical; /* Allow vertical resizing */
  }
  
  