.container {
  max-width: 375px;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.storeHeader {
  padding: 12px;
  text-align: center;
  background-color: #D32323;
  color: white;
}

.storeImage {
  object-fit: cover;
  width: 100%;
  margin-bottom: 12px;
}

.storeName {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.storeAddress {
  font-size: 1rem;
}

.reviewSection {
  padding: 16px;
  background-color: white;
  position: relative;
}

.sectionTitle {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0; 
  vertical-align: middle;
  text-align: left; 
  margin-bottom: 15px;
  display: flex; /* Use flex to align title and button */
  justify-content: space-between; /* Place title on one end and button on the other */
  align-items: center; /* Align items vertically */
  width: 375px;
}

.reviewItem {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.reviewIndex {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right:32px;
  margin-left: 10px;
}

.reviewContent {
  text-align: left;
}

.reviewAuthor {
  font-weight: bold;
}

.reviewTime {
  color: #777;
  font-size: 0.8rem;
}

.addReviewButton {
  position: absolute;
  top: 16px; 
  right: 16px;
  background: none;
  border: none;
  color: #d32323;
  cursor: pointer;
  font-size: 2rem;
  padding: 0;
}

.addReviewButton:hover {
  color: #f9f9f9;
  border-radius: 4px;
}

.emptyMessage {
  text-align: center;
  padding: 20px;
  font-size: 1rem;
  color: #555;
  margin: 10px 0;
  background: #f9f9f9;
  border: 1px dashed #ccc;
  border-radius: 4px;
}