.reviewList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.reviewItem {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  background: #f9f9f9; /* 가상의 박스 배경색 */
  cursor: pointer; /* 클릭 가능한 것으로 표시 */
}

.reviewImage {
  width: 60px; /* 이미지 사이즈 조정 */
  height: 60px; /* 이미지 사이즈 조정 */
  margin-right: 20px; /* 이미지와 가게 이름 사이의 여백 */
  object-fit: cover;
}

.storeName {
  font-weight: bold;
  color: #d32323;
  flex-grow: 1; /* 이름이 나머지 공간을 채우도록 함 */
}

/* 추가 스타일 */
