.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .storeName {
    color: #D32323;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .reviewItem {
    width: 100%;
    border-bottom: 1px solid #D32323;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  
  .reviewImage {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
  }
  
  .reviewContent {
    margin-left: 15px;
  }
  
  .reviewHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .userId {
    font-weight: bold;
  }
  
  .rating {
    color: #fbbc05;
  }
  
  .reviewText {
    margin-bottom: 5px;
  }
  
  .reviewTime {
    font-size: 12px;
    color: #777;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pageNumber,
  .activePage {
    border: none;
    background-color: #fff;
    color: #D32323;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pageNumber:hover {
    background-color: #fff;
  }
  
  .activePage {
    background-color: #D32323;
    color: #fff;
  }
  