.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 전체 뷰포트 높이 */
  padding: 20px; /* 약간의 패딩 */
}

.logo {
  /* 로고 이미지 스타일 */
  top: 30px
}

.logoText {
  /* 임시 텍스트 로고 스타일 */
  margin-bottom: 30px;
}

.loginMessage {
  color: #d32323;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 100%; /* 모바일 화면 전체 너비 */
  max-width: 500px; /* 최대 너비 제한 */
}

.loginForm input {
  margin-bottom: 10px; /* 입력 필드 간격 */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.logoImage {
  width: 375px; 
  height: auto;
  /* position: absolute; */
  top: 30%; 
  /* left: 50%;  */
  /* transform: translateX(-50%); */
  /* justify-content: center;
  align-items: center; */
}
